<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body style="background-color:blue!important ; color: black; font-family: Arial, sans-serif;">
        <%- include("../partials/header.ejs") %>
            <main>
                <div class="jumbotron" style="text-align: center; background-color: blue; color: black; padding: 20px;">
                    <h1 style="margin-bottom: 20px"> <%= basic.Title %> - <%= basic.isItCurrent ? "Current" : "Not Current" %> </h1> 
                    <br>
                    <h3><%= basic.Information %></h3>
                </div>
                <div class="container" style=" margin-top: 20px;">
                    <div class="row">
                        <div class="col-sm-4" style="padding: 20px; border: 1px solid black;">
                            <h1 style="margin-bottom: 10px;"> <%= basic.Title2 %> </h1> 
                            <h2 style="margin-bottom: 20px;"> <%= basic.Information2 %> </h2> 
                            <a href="/basic/"></a>
                        </div>
                        <div class="col-sm-4" style="padding: 20px; border: 1px solid black;">
                            <h1 style="margin-bottom: 10px;"> <%= basic.Title3 %> </h1> 
                            <h2 style="margin-bottom: 20px;"> <%= basic.Information3 %> </h2> 
                            <a href="/basic/"></a>
                        </div>
                        <div class="col-sm-4" style="padding: 20px; border: 1px solid black;">
                            <h1 style="margin-bottom: 10px;">> <%= basic.title4 %> </h1> 
                            <h2 style="margin-bottom: 20px;"> <%= basic.Information4 %> </h2> 
                            <a href="/basic/"></a>
                        </div>
                    </div>
                </div>
                <a href="/basic/<%= basic._id %>/edit"><button style="margin-top: 10px; ho ;padding: 10px 20px; background-color: #333;cursor: pointer; ;color: #fff; border: none; border-radius: 5px
                    ">Edit</button></a>
                <form action="/basic/<%= basic._id %>?_method=DELETE" method="POST" style="margin-top: 20px;">
                    <input type="submit" value="Delete" />
                </form>
                <a href="/basic/"><button>Back to Main</button></a>
            </main>
    </body>

</html>